* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
}
.box-1 {
  margin: 10px;
  width: 300px;
  height: 150px;
  border: 1px solid white;
  background-image: radial-gradient(circle, red 50px, white 50px);
}
.box-2 {
  margin: 10px;
  width: 300px;
  height: 150px;
  border: 1px solid white;
  background-image: radial-gradient(circle at 100px, gold 50px, lightskyblue 50px);
}
.box-3 {
  margin: 10px;
  width: 300px;
  height: 150px;
  border: 1px solid white;
  background-image: linear-gradient(red 20%, darkblue 20% 80%, red 80% 100%);
}
